@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Protest+Strike&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
.heroSection {
  background-color: hwb(0 98% 1%);
  padding-inline: 7vw;
  height: calc(100vh - 100px);
  display: flex;
}
.heroSection .text {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7vw;
}
.heroSection .text .socialMedia {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 35px;
}
.heroSection .text .socialMedia a i {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: royalblue;
  font-size: clamp(1.5rem, 2vw, 10rem);
}
.heroSection .text .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
.heroSection .text .content h1 {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(2.5rem, 4vw, 10rem);
}
.heroSection .text .content .text-animation {
  margin-top: -20px;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5vw;
  height: 30px;
}
.heroSection .text .content .text-animation .cursor {
  background: royalblue;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.heroSection .text .content .text-animation .dynamic {
  color: royalblue;
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: clamp(1.5rem, 2vw, 10rem);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.heroSection .text .content p {
  font-size: clamp(1rem, 1vw, 10rem);
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.heroSection .text .content button {
  background: none;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background: royalblue;
  padding: 20px 20px;
  border-radius: 50px;
  color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.heroSection .text .content button i {
  margin-left: clamp(5px, 0.5vw, 10rem);
}
.heroSection .photo {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heroSection .photo .frame {
  border-radius: 50%;
  padding: 5px;
  position: relative;
  background: hwb(0 98% 1%);
}
.heroSection .photo .frame::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: royalblue;
  top: 0%;
  left: 0%;
  z-index: -1;
  filter: blur(20px);
  animation: blobOne 3s ease-out infinite alternate;
}
.heroSection .photo .frame::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: royalblue;
  top: 0%;
  left: 0%;
  z-index: -1;
  filter: blur(20px);
  animation: blobTwo 3s ease-in infinite alternate;
}
.heroSection .photo .frame img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 50%;
}
.heroSection .scroll {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  color: royalblue;
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: clamp(1rem, 1vw, 10rem);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

@keyframes blobOne {
  from {
    transform: translate(25%, -10%);
  }
  to {
    transform: translate(15%, 15%);
  }
}
@keyframes blobTwo {
  from {
    transform: translate(25%, 15%);
  }
  to {
    transform: translate(30%, -5%);
  }
}/*# sourceMappingURL=heroSection.css.map */